
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data layers (If one decides to persist them locally)
data/bronze/
data/silver/
data/gold/

# Environment and OS
.env
.DS_Store
.venv
env/
venv/

